# Large media and unused assets
*.mp4
!Video1.mp4
!Video2.mp4
*.zip
frames/
Toyota_Corolla_doors_opening_1080p_frames/
ChatGPT-Bild*
AQNwWDaq*
FDownloader*
747669655*
car-hilux.png
car-prado.png
car-rav4.png
banner.png
5b39eeb8893c2.mp4
t.mp4
